@use "@/styles/mixins/media";
@use "@/styles/fonts/font-styles";

.ergonomicsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  min-height: 500px;

  .titleCard {
    transform: translateY(-125px);
  }

  .contentDiv {
    width: var(--content-width);

    p {
      @include font-styles.body;
      margin-bottom: 16px;
    }
  }
}

.ergonomicsDetailsDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 70px 0;

  .ergonomicsDetailsGrid {
    display: grid;
    gap: 25px 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.query(tablet) {
    .ergonomicsDetailsGrid {
      grid-template-columns: 1fr;
      width: var(--content-width);
      padding: 0 50px;
      gap: 0;

      :nth-child(odd) {
        justify-self: flex-start;
      }

      :nth-child(even) {
        justify-self: flex-end;
      }
    }
  }
}