$offset: 400px;
$diameter: 250px;
$highlight-border-width: 15px;

.ergonomicsDetailDiv {

  .ergonomicsDetailImageDiv {
    position: relative;
    border-radius: 1000px;
    width: $diameter;
    height: $diameter;
    border: $highlight-border-width solid transparent;

    &:hover {
      border: $highlight-border-width solid var(--accent-secondary);
    }

    .descriptionCard {
      position: absolute;
      top: -30px;
    }
  }

  &.leftAnchor {
    align-items: flex-end;

    .ergonomicsDetailImageDiv>.descriptionCard {
      left: -$offset;
    }
  }

  &.rightAnchor {
    align-items: flex-start;

    .ergonomicsDetailImageDiv>.descriptionCard {
        right: -$offset;
    }
  }
}
